body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #10B981;
    margin: auto;
    width: 50%;
    padding: 1.5em;
}
.container h3{
    font-weight: 800;
    font-size: 40px;
    color: #EEEEEE;

}

p{
    background: #000;
    color: #F94F6D;
    font-family: 'Orbitron', sans-serif;
    font-size: 90px;
    padding: 10px 8px ;
    margin-bottom: 0.2em;
    margin-top: 0.4em;
}

button{
    background: transparent;
    border: 2px solid #A7F3D0;
    color: #A7F3D0;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 8px;
}

button:hover{
    background-color: #131514;
    cursor: pointer;
}

#new-game{
    background-color: #10B981;
    margin-top: 20px;
    padding: 2em;
    font-size: 18px;
    font-weight: 800;
}
